################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HabitsReelPlus/.vs/HabitsReelPlus/FileContentIndex/0683b951-35e7-446f-83a4-294ae5aef07c.vsidx
/HabitsReelPlus/.vs/HabitsReelPlus/FileContentIndex/0683b951-35e7-446f-83a4-294ae5aef07c.vsidx
